body{
    background-color: #e1e2e1;
}

.cabecalho{
    padding: 10px 5px;
    background-color: #69f0ae;
}

.cabecalho .logo{
    display: inline-block;      
}

.cabecalho nav{
    float: right;
}

.cabecalho nav li{
    display: inline-block;
    padding: 15px;
}

main{
    background-color: white;
    padding: 30px;
    /* width: 900px; */
    min-width: 320px;
    max-width: 900px;
}

main .info{
    font-size: 18px;
}

main p{
    font-size: 16px;
}

.image img{
width: 100%;
}


